.episode-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    border-radius: 2px;
    transition: all 0.3s;
    padding: 24px;
    zoom: 1;
    border-radius: 4px;
}

.episode-item:hover {
  background: #d3eee9;
  cursor: pointer;
}
