.general-img {
  padding-right: 10px;
  float: left;
}

.general-text-wrapper {
  padding: 0 10px;
}

.general-action-wrapper {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 575px) {
  .general {
    flex-direction: column;
    align-items: center;
  }

  .general-text-title {
    text-align: center;
  }
}

