.container {
  padding: 0 350px;
}

@media only screen and (max-width: 1500px) {
  .container {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}
